<% layout ("/layouts/boilerplate") %>

<body>
    

    
    <div class="row ">
        <div class="col-6 offset-3" > 
        <h1>Create New Listing</h1> <br>
         <form action="/listings" method="post" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="title" class="form-label">Title: </label>
                <input type="text" name="listing[title]" placeholder="Add a catchy title" class="form-control" required>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please enter the valid Title</div>
            </div>
           
            <!-- //Description of place -->
            <div class="mb-3">
                 <label for="description" class="form-label">Description: </label>
                <textarea name="listing[description]" id="description" placeholder="Enter Description" class="form-control" required></textarea>
                <div class="invalid-feedback">Please enter the short Description</div>
            </div>
           
            <!-- Image section -->
            <div class="mb-3">
                 <label for="image" class="form-label">Image URL: </label>
                <input type="url" 
                name="listing[image][url]"
                placeholder="Enter image URL(jpg, png, etc.)" 
                class="form-control" 
                pattern="https?://.+\.(jpg|jpeg|png|gif|webp|avif)(\?.*)?"
                title="Link must end with an image extension like .jpg or .png"
                >
                 <div class="invalid-feedback">Please enter a valid image link (ending in .jpg, .png, etc.)</div>
                
            </div>

            <!-- //Price  -->
            <div class="row">
             <div class="mb-3 col-md-4" >
                <label for="price" class="form-label">Price: </label>
                <input type="number" name="listing[price]" placeholder="12000" class="form-control" required min="0">
                <div class="invalid-feedback">Price should be a positive number</div>
            </div>
            
            <!-- //Country -->
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country: </label>
                <input type="text" name="listing[country]" placeholder="India" class="form-control" required>
                <div class="invalid-feedback">Please enter the valid Country</div>
            </div>

            </div>
            
            <!-- //Location -->
            <div class="mb-3">
                <label for="location" class="form-label">Location: </label>
                <input type="text" name="listing[location]" placeholder="Enter location" class="form-control" required>
                <div class="invalid-feedback">Please enter the valid Address</div>
            </div>
            
            <div class="btn-design">
            <div class="mb-5  col-2 offset-5" >
                <button class="form-control btn btn-dark">Add</button>
            </div>
            </div>
           
    </form>
    </div>
    </div>
    
</body>
</html>